# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore compiled files
*.class
*.jar

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore environment-specific files
.env
.env.local
.env.*.local

# Ignore package-lock.json
package-lock.json

# Ignore IDE-specific files
.idea/
.vscode/